<%- include('header') -%>
    <div class="single-image-card">
        <img class="single-image-view" src="<%= hdurl %>" alt="<%= title %>">
        <h2 ><%= title %></h2>
        <p class="single-image-p"><%= date %></p>
        <p class="single-image-p"><%= copyright %></p>
        <article class="single-image-article"><%= explanation %></article>
    </div>
    <footer class="single-image-footer">Jarosław Jatczak 2021</footer>
<%- include('footer') -%>